# Reducci√≥n de caracteristicas en muestras

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [2]:
data = pd.read_csv('https://bit.ly/3yWJipU')
data

    altura  peso talla
0      170    64     L
1      168    62     L
2      163    60     M
3      168    63     L
4      158    63     M
5      160    60     M
6      168    66     L
7      165    61     L
8      160    59     M
9      158    59     M
10     169    67     L
11     158    58     M
12     170    63     L
13     165    65     L
14     161    60     M
15     170    68     L
16     163    61     M
17     160    64     L
18     165    62     L
19     163    64     L

In [3]:
data.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
altura,170,168,163,168,158,160,168,165,160,158,169,158,170,165,161,170,163,160,165,163
peso,64,62,60,63,63,60,66,61,59,59,67,58,63,65,60,68,61,64,62,64
talla,L,L,M,L,M,M,L,L,M,M,L,M,L,L,M,L,M,L,L,L

# Ejemplo implamentacion SBS

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Cargando nuestor dataset

In [6]:
# df_wine = pd.read_csv('https:\\archive.ics.uci.edu/ml/machine-learning-databases/wine/')
df_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',
                     header=None)
# Total de 13 caracteristicas
df_wine.columns = ['Class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
                   'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']
df_wine.tail()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

### Usando el Modelo K-Vecinos

In [8]:
# Datos de entrenamiento y prueba
from sklearn.model_selection import train_test_split
X, y = df_wine.iloc[:,1:].values, df_wine.iloc[:,0].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Estandarizamos 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [10]:
import numpy as np
# La utilizaremos precisamente por la idea
# de ir moviendonos, quitando una columna y a ver  que sucede
# una y cada una de ellas y despues tomar la que nos regrese el
# mejor resultado
from itertools import combinations
from sklearn.base import clone
from sklearn.metrics import accuracy_score

In [ ]:

class SBS():
    def __init__(self, estimador, k_features, scoring=accurancy_score, ...)

    # Funcion ajuste
    def fit(self, X, y):
        pass    
    # Funcion para transformar
    def transform(self, X):
        pass
    # Una funcion que nos diga que tan bien o mal se comporta nuestro algortimo
    # comparado con la iteracion anterior
    def _calc_score(self, X_train, y_train, X_test, y_test, indices):
        pass